<ion-header>
  <ion-toolbar>
    <ion-title>MY PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="my">
      <img src="assets/img/user.png" />
      <div class="profile">
        <div class="name">Yu Tang Ng</div>
        <div>Mgr, Business Applications</div>
        <div>Information Mgt Services</div>
      </div>
    </div>
    <div class="requests">
      <div class="title">Your Requests <a routerLink="/date">More</a> </div>
      <div class="body">
        <div class="chart"></div>
        <div class="data">
          <div class="left">
            <p>Stock Receive</p>
            <p>Stock Issue</p>
          </div>
          <div class="right">
            <p>2</p>
            <p>3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
