<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="project-name">
      <h3>13788</h3>
      <p>L2 Contract of Lyric Theatre Complex and Extended Basement</p>
    </div>
    <div class="requests">
      <div class="title">Your Requests <a routerLink="/date">More</a> </div>
      <div>
        <p>Stock Receive</p>
        <p>Stock Issue</p>
      </div>
    </div>
    <ion-item-group>
      <ion-item detail lines="none" href="/data">
        <ion-label>
          Standard Item with Detail Arrow
        </ion-label>
      </ion-item><ion-item detail lines="none" href="/data">
        <ion-label>
          Standard Item with Detail Arrow
        </ion-label>
      </ion-item><ion-item detail lines="none" href="/data">
        <ion-label>
          Standard Item with Detail Arrow
        </ion-label>
      </ion-item><ion-item detail lines="none" href="/data">
        <ion-label>
          Standard Item with Detail Arrow
        </ion-label>
      </ion-item><ion-item detail lines="none" href="/data">
        <ion-label>
          Standard Item with Detail Arrow
        </ion-label>
      </ion-item><ion-item detail lines="none" href="/data">
        <ion-label>
          Standard Item with Detail Arrow
        </ion-label>
      </ion-item><ion-item detail lines="none" href="/data">
        <ion-label>
          Standard Item with Detail Arrow
        </ion-label>
      </ion-item><ion-item detail lines="none" href="/data">
        <ion-label>
          Standard Item with Detail Arrow
        </ion-label>
      </ion-item><ion-item detail lines="none" href="/data">
        <ion-label>
          Standard Item with Detail Arrow
        </ion-label>
      </ion-item><ion-item detail lines="none" href="/data">
        <ion-label>
          Standard Item with Detail Arrow
        </ion-label>
      </ion-item><ion-item detail lines="none" href="/data">
        <ion-label>
          Standard Item with Detail Arrow
        </ion-label>
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>